includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - %rootDir%/../phpstan-webmozart-assert/extension.neon
    - phpstan-baseline.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - src/Collection/src/
        - src/CommandBus/src/
        - src/Common/src/
        - src/Container/src/
        - src/Criteria/src/
        - src/DataSource/src/
        - src/Type/src/
        - src/ValueObject/src/
        - src/LaminasHydratorBridge/src/
        - src/MonologBridge/src/
        - src/EasyCodingStandardBridge/bin/
        - src/EasyCodingStandardBridge/resources/
    excludes_analyse:
        - src/EasyCodingStandardBridge/resources/stubs/bad-code/
    ignoreErrors:
        - '/^Property spaceonfire\\CommandBus\\Mapping\\ClassName\\ReplacementClassNameMapping::\$replace \(array\<string\>\|string\) does not accept array\<string\>\|string\|null.$/'
        - '/^Method spaceonfire\\CommandBus\\CommandBus::createCommandHandler\(\) should return callable\(\): mixed but returns array\(object, string\).$/'
        - '/expects callable(.*) array(.*) given\.$/'
        - '/^Call to an undefined method Cycle\\ORM\\RepositoryInterface::select\(\)\.$/'
        -
            message: '/^Cannot call method make\(\) on spaceonfire\\Type\\Factory\\TypeFactoryInterface\|null.$/'
            path: src/Type/src/Factory/*.php
        - '/^PHPDoc tag \@param for parameter (.*) with type (.*)\|string is not subtype of native type string.$/'
        -
            message: '/^Call to an undefined method object::value\(\).$/'
            path: src/LaminasHydratorBridge/src/Strategy/ValueObjectStrategy.php
        -
            message: '/^Empty array passed to foreach\.$/'
            path: src/EasyCodingStandardBridge/resources/templates/ecs-baseline.php
